* {
  padding: 0px;
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
  background-color: peru;
}

.left {
  margin-right: 80%;
  color: purple;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  color: purple;
}

img{
    height: 28px;
}