body {
  margin: 0;
  padding: 0px; 
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  background-color: gold
}

.logo {
  width: 90px;
  height: 80px;
  object-fit: contain;
  margin: 0;
}
.left {
  margin-right: 80%;
  color: whitesmoke;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  color:whitesmoke;
}

img{
    height: 28px;
}



button{
  padding: 12px;
  width: 60px;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 0  1px;
  cursor: pointer;
  margin: none;
}

