
body{
    background-color: darkblue;
    margin: 0;
    padding: 10px;
}

.user{
    font-size: xx-large;
    font-style: bold;
    font-weight: 500;
    color: white;
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:12px;
}


.card{
    width: 180px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}


.card img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
     box-shadow: 0px 0px 10px gray;
}


.card h2,
.card h3,
.card h4{
    margin: 10px 0;
    font-size: medium;
}

.card button{
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 12px;
    background-color: deepskyblue;
    color: white;
    cursor: pointer;
     box-shadow: 0px 0px 6px gray;
}