/* App background */
body{
    background-color: darkblue;
    margin: 0;
    padding: 40px;
}

/* Main container */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px;
}

/* Card */
.card{
    width: 180px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

/* Image */
.card img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
     box-shadow: 0px 0px 10px gray;
}

/* Text */
.card h2,
.card h3,
.card h4{
    margin: 10px 0;
    font-size: medium;
}

/* Button */
.card button{
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 12px;
    background-color: deepskyblue;
    color: white;
    cursor: pointer;
     box-shadow: 0px 0px 6px gray;
}